

<nav class="navbar navbar-expand-lg bg-white shadow-sm py-2">
    <div class="container-fluid">
      
      <a class="navbar-brand d-flex align-items-center" href="/list">
        <i class="fa-regular fa-compass"></i>
        <h4>TripTale</h4>
      </a>
  
      
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <div class="mx-auto d-flex align-items-center">
          <form class="d-flex border rounded-pill shadow-sm" style="max-width: 500px; width: 100%;" method="get" action="/search">
            <input class="form-control border-0 rounded-pill ps-3" type="text" placeholder="Start your search" aria-label="Search" name="search">
            <button class="btn btn-light border-0 rounded-pill" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
  
        
        <div class="navbar-nav ms-auto d-flex align-items-center">
          
          <a class="nav-link text-dark fw-semibold me-3" href="/list/new/create" style="white-space: nowrap;">Become a Host</a>
          <a class="nav-link text-dark fw-semibold me-3" href="/list" style="white-space: nowrap;">List</a>

          
  
         
          <a class="nav-link text-dark me-3" href="#">
            <i class="bi bi-globe fs-5"></i>
          </a>
  
          
          
            
          </div>
        </div>
      </div>
    </div>
  </nav>
  