<% layout("layouts/boilerplate") -%>
<body>

    <form method="post" action="/list/new1/submit"  >
        <div class="mb-3"  >
            <label for="fileInput">Put the ImageUrl</label>
            <input type="text" id="fileInput" name="image" placeholder="Enter the ImageUrl" required>
        </div>
        <div class="col-md-6 col-12">
          <label for="inputEmail4" class="form-label">Title</label> 
          <input  class="form-control" id="inputEmail4"   name = "title" placeholder="Enter the Title" required>
        </div>
        <div class="col-md-6 col-12">
          <label for="inputPassword4" class="form-label">Price</label>
          <input  class="form-control" id="inputPassword4"  name = "price" placeholder="Enter the price" required>
        </div>
        
        <div class="col-12">
          <label for="inputAddress" class="form-label">Description</label>
          <input type="text" class="form-control" id="inputAddress"   name="description" required>
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">City</label>
          <input type="text" class="form-control" id="inputAddress2"  name="location"  placeholder="Enter the city" required>
        </div>
        <div class="col-md-6 col-12">
          <label for="inputCity" class="form-label">Country</label>
          <input type="text" class="form-control" id="inputCity" name = "country" placeholder="Enter your country" required>
        </div>
        
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </form>

   
</body>
